<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Scrabble.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Scrabble.Settings>
            <setting name="DefaultPlayer1" serializeAs="String">
                <value>Player 1</value>
            </setting>
            <setting name="Difficulty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultPlayer2" serializeAs="String">
                <value>Player 2</value>
            </setting>
            <setting name="DefaultPlayer3" serializeAs="String">
                <value>Player 3</value>
            </setting>
            <setting name="DefaultPlayer4" serializeAs="String">
                <value>Player 4</value>
            </setting>
            <setting name="EnableMusic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighScoreName" serializeAs="String">
                <value>Jansen</value>
            </setting>
            <setting name="HighScoreValue" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Serial" serializeAs="String">
                <value>zzzz</value>
            </setting>
            <setting name="ReuseBlank" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>True</value>
            </setting>
        </Scrabble.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
